@using Reservation.PL.Resources
@model Reservation.Entities.User
@{
    ViewBag.Title = "Edit - " + Model.Name;
}
@*@ViewBag.UserTypes.Count*@

@Styles.Render("~/Content/select")
@Styles.Render("~/Content/datedropper")

<section class="section-info">
    <div class="container">
        <div class="row row-info">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="action-title">Editing User - @Model.Name</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="text-center">
                    @Html.ActionLink(Resource.user_list_action, "List", "User", null, new { @class = "btn action-button" })
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-control">
    <form>
        <div class="container">
            <div class="row row-inputs">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="name" placeholder="@Resource.user_name" data-bind="value: name">
                </div>
                <div class="col-md-3">
                    <select id="user_type" name="UserTypeId" class="selectpicker" style="height: 40px;" data-size="5">
                        @foreach (var ut in ViewBag.UserTypes)
                        {
                            <option value="@ut.UserTypeId">@ut.Name</option>
                        }
                    </select>

                </div>
                <div class="col-md-3">
                    <input type="tel" class="form-control" id="phone" placeholder="@Resource.user_phone" data-bind="value: phone">
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="dob" placeholder="@Resource.user_dob" data-bind="value: dob" style="background-color: white;">
                </div>
            </div>
        </div>
        <div class="container container-textarea">
            <div class="row">
                <div id="description"></div>
            </div>
        </div>
    <div class="container">
        <div class="row row-save">
            <button id="edituser" class="btn btn-default" type="button">Edit</button>
        </div>
    </div>
        </form>
</section>


@section scripts{
    @Scripts.Render("~/bundles/selectjs")
    @Scripts.Render("~/bundles/datejs")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ko-user")
    <script type="text/javascript">
        User.EditUrl = '@Url.Action("EditAction", "User", new {id = Model.UserId})';
        var viewModel = {
            UserId: @Model.UserId,
            name: '@Model.Name',
            phone: '@Model.Phone',
            dob: '@Model.Dob'
        };
        User.ToEdit(viewModel);

        $(document).ready(function() {
            $('#dob').dateDropper();
            $('#description').summernote();
            $("#description").code('@Html.Raw(Model.Description)');
        });
    </script>
}
