<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/bundles/summercss")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
    <body>
        
        <header>
            <div class="container">
                <div class="row row-header">
                    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-xs-offset-1">
                        <img src="~/Images/corp.png" />
                    </div>
                    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-2 hidden-xs hidden-sm slogan">
                        <img src="~/Images/slogan.png" />
                    </div>
                </div>
            </div>
        </header>


        @RenderBody()
        
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/summerjs")
        @RenderSection("scripts", required: false)
    </body>
</html>
